@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c6d0a0;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: linear-gradient(to bottom, #3cda83, #1a5c38);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.323);
    width: 100%;
}

nav {
    align-self: flex-start;
}

.menu {
    text-decoration: none;
    color: #8bf3b9b2;
}

.menu:hover {
    background-color: #298e56;
    padding: 5px;
    border-radius: 3px;
    color: #ffffff;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 30px 0px 0px 0px;
    margin: 5px 10px;
}

.fonte {
    font-family: 'Android', Arial, Helvetica, sans-serif;
    color: #1a5c38;
}

.corpo {
    background-color: #ffffff;
    margin: 0px 70px 20px 70px;
    padding: 20px;
    box-shadow: 0px 1px 5px 1px #00000056;
    border-radius: 0px 0px 10px 10px;
    max-width: 830px;
    width: 100%;
}

.link-externo {
    text-decoration: none;
    color: #1a5c38;
    font-weight: bold;
}

.link-externo:hover {
    color: #ffffff;
    font-weight: bold;
}

.lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.itens-lista {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.marcacao-titulo {
    display: block;
    background-image: linear-gradient(to right,#76d3a0, #ffffff);
    padding: 0px 5px;
}

mark {
    background-color: #76d3a0;
    padding: 0px 5px;
}

.imagem {
    text-align: center;
}

.video {
    text-align: center;
    padding: 20px;
    margin: 0px -20px;
    background-color: #1a5c38;
    box-shadow: 0px 1px 5px 1px #00000056;
}

footer {
    background-color: #1a5c38;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    width: 100%;
}

footer > p {
    margin: 0px;
}

h3#titulo-verde {
    background-color: #2fa866;
    padding: 5px 8px;
    margin: 0px;
    color: #ffffff;
    border-radius: 10px 10px 0px 0px;
}

.lista-final {
    background-color: #c5ebd6;
    margin: 15px 0px;
    border-radius: 10px;   
    box-shadow: 0px 1px 5px 1px #00000056;
}

abbr:hover {
    background-color: #76d3a0;
    color: #1a5c38;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.paragrafo {
    padding: 0px 8px 10px 8px;
}

.texto {
    text-align: justify;
}

strong {
    color: #298e56;
}

abbr {
    text-decoration: none;

}

abbr {
    position: relative;
}
    
abbr:hover::after {
    position: absolute;
    bottom: 0%;
    left: 120%;
    padding: 5px;
    border-radius: 5px;
    background: #ffffff;
    content: attr(title);
}

.rodape {
    color: #76d3a0;
}

.rodape > p > strong {
    color: #ffffff;
}